<!-- Link external CSS -->
<link rel="stylesheet" href="{{ '/assets/css/academic.css' | relative_url }}">

<div class="section-wrapper">
  <div class="title-container">
    <h2 class="section-title text-center">
      <i class="fas fa-graduation-cap me-2"></i> Academic
    </h2>
    <hr class="title-underline">
  </div>

  <div class="section">
    <h4 class="section-heading">
      <i class="fas fa-university me-2"></i> Education
    </h4>
    <div class="card-container">
      {% for item in site.data.academic.education %}
      <div class="card">
        <div class="card-content">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            <i class="fas fa-school me-1"></i> {{ item.institution }}
          </p>
          <p class="card-text">
            <i class="fas fa-calendar-alt me-1"></i> {{ item.duration }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <br> <br>

  <div class="section">
    <h4 class="section-heading">
      <i class="fas fa-microscope me-2"></i> Research Experience
    </h4>
    <div class="card-container">
      {% for item in site.data.academic.research-experience %}
      <div class="card">
        <div class="card-content">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            <i class="fas fa-laptop-code me-1"></i> {{ item.lab }}
          </p>
          <p class="card-text">
            <i class="fas fa-map-marker-alt me-1"></i> {{ item.location }}
          </p>
          <p class="card-text">
            <i class="fas fa-calendar-alt me-1"></i> {{ item.duration }}
          </p>
          <p class="card-text small">
            <i class="fas fa-user-tie me-1"></i> Supervisor: <b>{{ item.supervisor }}</b>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <br> <br>

  <div class="section">
    <h4 class="section-heading">
      <i class="fas fa-chalkboard-teacher me-2"></i> Academic Experience
    </h4>
    <div class="card-container">
      {% for item in site.data.academic.academic-experience %}
      <div class="card">
        <div class="card-content">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            <i class="fas fa-users me-1"></i> {{ item.department }}
          </p>
          <p class="card-text">
            <i class="fas fa-school me-1"></i> {{ item.institution }}
          </p>
          <p class="card-text">
            <i class="fas fa-calendar-alt me-1"></i> {{ item.duration }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>