<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">

<footer class="site-footer pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-12 text-center social-media-icons">
      {% assign socials = site.data.socials %}
      {% for social in socials %}
      <a href="{{ social.url }}" class="ms-3 social-link" title="{{ social.name }}" target="_blank" rel="noopener">
        <i class="{{ social.icon }}"></i> <span>{{ social.name }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</footer>