<div class="container mb-5">
  <h3 class="fw-bold border-bottom pb-3 text-center">Publications</h3>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="list-unstyled">
        {% if page.title == "Home" %}
          {% for item in site.data.publications.featured %}
            <li class="mb-2">• <a href="{{ item.url }}" class="text-decoration-none fw-medium">{{ item.name }}</a></li>
          {% endfor %}
        {% else %}
          {% for item in site.data.publications.index %}
            <li class="mb-2">• <a href="{{ item.url }}" class="text-decoration-none fw-medium">{{ item.name }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>