---
layout: default
---

<div class="container text-center mb-4">
  <img src="{{ site.github.url }}/assets/img/alifalhasan.jpg" 
       alt="Alif Al Hasan" 
       class="img-fluid" 
       style="width: 300px; height: 350px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
</div>

{% include contact.html %}

<div class="container mb-5">
  <h3 class="fw-bold border-bottom pb-3 text-center">About Me</h3>
  <div class="row justify-content-center">
    <div class="col-md-8">
      {{ content }}
    </div>
  </div>
</div>

<div class="container mb-5">
  <h3 class="fw-bold border-bottom pb-3 text-center">Updates</h3>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="list-unstyled">
        {% for post in site.data.posts.posts %}
          <li>• [{{ post.month }}, {{ post.year }}] - {{ post.description }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>