<div class="mb-5">
    <h3 class="fw-bold border-bottom pb-3">Latest Updates</h3>
    <div class="updates-scroll">
        <ul class="list-unstyled timeline">
            {% assign grouped_posts = site.data.posts.posts | group_by: "date" %}
            {% for group in grouped_posts %}
            <li class="mb-4">
                <div class="fw-semibold text-dark mb-1">{{ group.name }}</div>
                <ul class="mt-1 ps-3">
                    {% for post in group.items %}
                    <li class="text-secondary mb-1">{{ post.description }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>